{
  "presets": [
    [
      "env", {
        "modules": false
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
        "root": ["./app"],
      }
    ],
    "transform-class-properties",
  ],
}
